<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | Hemalatha Sekar Portfolio</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  {% include header.html %}
  {% include navigation.html %}
  <section>
    <h2>About Me</h2>
    <p>As a passionate Software Developer with over 2 years of experience, I thrive on creating innovative
        IT solutions that optimize business processes. Proficient in Java and Python, I have a proven
        track record of enhancing system efficiency and user engagement.
        My tenure at Tata Consultancy Services honed my skills in developing secure, scalable web applications,
        achieving a 24% increase in customer purchases.
        I’m enthusiastic about leveraging AI and machine learning to drive innovation and solve complex problems.
        Fluent in English and currently learning intermediate German, I excel in collaborative, interdisciplinary environments.
        Let's connect and explore how I can contribute to your next big project!</p>
  </section>
  {% include footer.html %}
</body>
</html>
