<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume | Hemalatha Sekar Portfolio</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  {% include header.html %}
  {% include navigation.html %}
  <section>
    <h2>Resume</h2>
    <p>Download my <a href="{{ site.baseurl }}/assets/Resume_Hemalatha_Sekar.pdf">Resume</a></p>
  </section>
  {% include footer.html %}
</body>
</html>
